<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nakira974/index.json" protocolVersion="3" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="UIPath Local" value="file://C:\Users\maxim\AppData\Local\Programs\UiPath\Studio\Packages" />
        <add key="UIPath Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="nakira974" />
            <add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
        </github>
    </packageSourceCredentials>
</configuration>